USE [AUTOSALON]
GO
/****** Object:  Table [dbo].[Autosalon]    Script Date: 07.05.2026 12:42:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Autosalon](
	[id_Autosalon] [int] IDENTITY(1,1) NOT NULL,
	[City] [nvarchar](50) NULL,
	[Building] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Autosalon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Buyer]    Script Date: 07.05.2026 12:42:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Buyer](
	[id_Buyer] [int] IDENTITY(1,1) NOT NULL,
	[id_Autosalon] [int] NULL,
	[Name] [nvarchar](50) NULL,
	[SecondName] [nvarchar](50) NULL,
	[DateOfBuying] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Buyer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Car]    Script Date: 07.05.2026 12:42:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Car](
	[id_car] [int] IDENTITY(1,1) NOT NULL,
	[id_Autosalon] [int] NULL,
	[Mark] [nvarchar](50) NULL,
	[Model] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_car] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 07.05.2026 12:42:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[id_employee] [int] IDENTITY(1,1) NOT NULL,
	[id_Autosalon] [int] NULL,
	[Name] [nvarchar](50) NULL,
	[Professcion] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_employee] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Importer]    Script Date: 07.05.2026 12:42:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Importer](
	[id_importer] [int] IDENTITY(1,1) NOT NULL,
	[id_Autosalon] [int] NULL,
	[Price] [int] NOT NULL,
	[Car_Importing] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_importer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Buyer]  WITH CHECK ADD FOREIGN KEY([id_Autosalon])
REFERENCES [dbo].[Autosalon] ([id_Autosalon])
GO
ALTER TABLE [dbo].[Car]  WITH CHECK ADD FOREIGN KEY([id_Autosalon])
REFERENCES [dbo].[Autosalon] ([id_Autosalon])
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD FOREIGN KEY([id_Autosalon])
REFERENCES [dbo].[Autosalon] ([id_Autosalon])
GO
ALTER TABLE [dbo].[Importer]  WITH CHECK ADD FOREIGN KEY([id_Autosalon])
REFERENCES [dbo].[Autosalon] ([id_Autosalon])
GO
